@font-face {
    font-family: 'kg';
    src: url('../fonts/KGNeatlyPrintedSpaced.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

#app {
    width: 900px;
    height: 640px;
}

#next {
    /* position: absolute;
    translate: 100px; */
}
* {
    margin: 0;
    padding: 0;
}
.container {
    position: relative;
    top: 80vh;
}


