@font-face {
    font-family: 'kg';
    src: url('../fonts/KGNeatlyPrintedSpaced.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


  .abs {
    font-family: 'kg', 'Times New Roman';
    position:absolute;
    color: white;
  }


  #cpu {
      width: 200px;
  }


.box {
    position: relative;
    width: 100px;
    height: 100px;
    margin: 4px;
    display: inline-block;
}

.red {
    background-color: red;
}
.blue {
    background-color: blue;
}
.green {
    background-color: green;
}
.yellow {
    background-color: yellow;
}
