@font-face {
    font-family: 'kg';
    src: url('../fonts/KGNeatlyPrintedSpaced.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: black;
}

* {
    margin: 0;
    padding: 0;
}
/* #app {
    width: 640px;
    height: 480px;
    left: auto;
    right: auto;
    margin: auto;
} */

#next {
    /* position: absolute;
    translate: 100px; */
}
/* .container {
    position: relative;
    top: 80vh;
} */

#my_canvas {
    width: 640px;
    height: 480px;
}

